<!--/**
 * Add the checkout-agreements-block & form to display the agreement to above the summary section
 * PM PS, 04.05.20, @link https://trello.com/c/ISWxDvZj/85-einrichtung-des-checkout-prozesses-implement-check-out-process
 */-->
<div class="checkout-agreements-block mp-12 checkout-agreements-block-customize">
    <form id="co-place-order-agreement" class="form" novalidate="novalidate">
        <!-- ko foreach: getRegion('before-place-order') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div data-role="checkout-agreements">
            <div class="checkout-agreements fieldset" data-bind="visible: isVisible">
                <!-- ko foreach: agreements -->
                    <!-- ko if: ($parent.isAgreementRequired($data)) -->
                    <div class="checkout-agreement field choice required">
                        <input type="checkbox" class="required-entry"
                            data-bind="attr: {
                                            'id': $parent.getCheckboxId($parentContext, agreementId),
                                            'name': 'agreement[' + agreementId + ']',
                                            'value': agreementId
                                            }"/>
                        <label class="label" data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                            <button type="button"
                                    class="action action-show noshad">
                                <span data-bind="html: checkboxText"></span>
                            </button>
                        </label>
                    </div>
                    <!-- /ko -->
                    <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
                    <div class="checkout-agreement">
                        <button type="button" class="action action-show">
                            <span data-bind="html: checkboxText"></span>
                        </button>
                    </div>
                    <!-- /ko -->
                <!-- /ko -->
                <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
                    <div class="checkout-agreements-item-content" data-bind="html: modalContent, style: {height: contentHeight, overflow:'auto' }"></div>
                </div>
            </div>
        </div>
    </form>
</div>