@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/*peter cs*/

/* Add custom CSS here..*/

body #page-title-heading.page-title {
    font-family: 'Oswald',sans-serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

body h2 {
    font-weight: 500;
    color:#000000;
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
}

body h3 {
    font-weight: 500;
    color:#000000;
}

body h4 {
  font-weight: 500;
    color:#000000;
}

body h5 {
  font-weight: 500;
    color:#000000;
}

body h6 {
  font-weight: 500;
    color:#000000;
}

body p {
  font-size: 16px;
  line-height: 1.6;
  color:#535353;    
}

/*body ul > li,
ol > li {
  margin-top: 0rem;
  margin-bottom: 0.2rem;
  margin-left:-1.9rem;
}*/

body .check {
  font-size: 16px;
  line-height: 1.6;
  color:#535353;    
}

/* OWL title - product-title Product-price */
body .owl-theme.product-item-wrap h3.title, #block-upsell-heading, #block-crosssell-heading {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background-color: #ff8a00;
    padding: 10px 20px;
    position: relative;
    top: 2px;
    z-index: 9;
    display: inline-block;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
}
strong#block-crosssell-heading {
    display: inline;
}
body .owl-theme.product-item-wrap .owl-carousel {
  border-top: 1px solid #000;
}

body .owl-theme .owl-controls {
  /*margin-top: 25px;*/
  text-align: center;
}

/* OWL Product h3 */
body .owl-theme.product-item-wrap .product-item-info h3 {
    font-weight: 400;
    text-transform: uppercase;
  }

/* OWL Product Preis */
body .owl-theme.product-item-wrap .product-item-info .price-container .price-including-tax .price {
    font-size: 33px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
  }

/* Product PAGE Title */
body .product-info-main .page-title {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-weight: 500;
}

/* Product PAGE Price */
body .product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    font-weight: 500;
}

body .product-info-price .price-including-tax .price {
    font-family: Oswald, sans-serif;
    font-size: 38px !important;
    color: #42addd;
  }

/* Product PAGE ADDON-Price */
/*.product-info-addonprices span.netto-price::after {
    background: #d20a11;
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 6px;
    transform-origin: 0 100%;
    transform: rotate(-8deg);
}*/

.product-info-addonprices span.netto-price {
    float: left;
    font-size: 21px;
    margin-top: -5px;
    margin-right: 5px;
    font-weight: 500;
    position: relative;
    font-family: Oswald, sans-serif;
}


/* Product PAGE LEASING */
/*body .lease-main {
    border: solid 1px #FF8801;
    display: inline-block;
    font-size: 16px;
    padding-right: 21px;
    margin-bottom: 20px;
    padding-left: 10px;
}*/

/*body .lease-main span {
    background: #FF8801;
    color: #fff;
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    font-family: oswald,sans-serif;
    margin-right: 10px;
}*/

body .lease-main {
    font-size: 16px;
}

/* Product PAGE In Stock */
body .product-info-main .stock.available,
.product-info-main .stock.unavailable  {
    font-size: 1.8rem;
    font-weight: 700;
    color: #64b32f;
  }

body .product-info-main .stock {
    color: #64b32f;
}


/* Product PAGE Warenkorb Button */
body .box-tocart .action.tocart {
    margin-bottom: 0;
    margin-right: 1%;
    width: 70%;
  }

body .box-tocart .fieldset .tocart {
    height: 41px;
    background: #64b32f;
    padding: 11px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 27px;
    margin-left: -12px;
}

body .box-tocart .action.primary  {
  background-image: none;
  background: #64b32f;
  border: #64b32f;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-sizing: border-box;
  vertical-align: middle;
}
/*
body .box-tocart .action.primary :before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  content: '\e611';
  font-family: 'luma-icons';
  margin: 0 8px 0 0 ;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
*/
body .box-tocart .action.primary:focus,
.action.primary:active {
  background: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}

body .box-tocart .action.primary:hover {
  background: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}




@media only screen and (min-width:960px) {
    .megamenu .leftblock.sub_expanded ul.level0 > li > a { padding-left: 10px; padding-right: 10px; font-weight:normal !important; text-align: left !important;}
    .megamenu .leftblock.sub_expanded ul.level0 > li > a span { text-transform: uppercase;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;  }
}
.sticky-nav .megamenu li.level0 a.level-top + .megamenu-wrapper {
    max-height: calc(100% - 65px);
    position: fixed;
    overflow: auto;
    margin: auto;
    left: 0;
    right: 0;
}
.megamenu .leftblock.sub_expanded ul.level1 {
    padding: 5px 0;
}
.megamenu .leftblock.sub_expanded ul.level0 > li ul li > a {
padding: 5px 10px;
color: #000000;
font-size: 13px;
}
.megamenu .leftblock.sub_expanded ul.level0 > li ul li > a span:not(.ui-icon):after{display: none !important;}
.megamenu .leftblock.sub_expanded ul.level0 > li ul li > a:before {
    content: ">";
    font-size: 12px;
    font-weight: bold;
    font-family: inherit;
    color: inherit;
}

/*Desktop Css*/
.nav-sections{margin-bottom: 0 !important;}
.megamenu .leftblock.sub_expanded ul.level0 > li.parent > a span.ui-menu-icon { display: none; }
.nav-sections .megamenu .level0 > .level-top{
    padding: 0 15px !important;
    font-weight: normal;
    font-size: 16px;
}
    .nav-sections .megamenu .level0 > .level-top:after{
           /* font-size: 9px;
    line-height: 10px;
    margin: 0 0 0 3px;*/
    display: none;
    }

@media (min-width: 768px){
	.sticky-nav {
	    position: fixed;
	    width: 100%;
	}
    .minicart-wrapper{min-width: 165px;text-align: right;}
    .minicart-wrapper .mage-dropdown-dialog{text-align: left;}
    .navigation{padding-left: 20px !important;padding-right: 20px !important;}
}
.navigation ul{padding: 0 !important;}
    .nav-sections .level0.active > .level-top,.nav-sections .level0.has-active > .level-top {
    background-color: #e6e6e6;
    color: #000 !important;
    border: none !important;
}
.megamenu li.level0 a.level-top + .megamenu-wrapper.width_100{width: 100% !important;box-sizing: border-box;}
.sticky-nav .megamenu li.level0 a.level-top + .megamenu-wrapper.width_100{max-width: 1240px;}
/*Top header Links Css*/
.header.panel > .header.links > li.welcome, .header.panel > .header.links > .authorization-link:after { color: #2e2e2e; }
.header.panel > .header.links .item.current strong{color: #3bacdf;}
.customer-welcome .action.switch{color:#2e2e2e !important;}

/*header Mini Card  css*/
.minicart-wrapper { position: relative !important; right: 0 !important;}
.minicart-wrapper .action.showcart { background: #000; color: #fff; padding: 3px 7px 3px 10px; }
.minicart-wrapper .action.showcart:before { color: #fff; }
.minicart-wrapper .action.showcart .text { font-weight: bold; color: #fff; position: static; margin: 0; padding: 5px; font-size: 14px; text-transform: uppercase; height: auto; width: auto; display: inline-block; vertical-align: bottom; }
.minicart-wrapper .action.showcart:hover { background: #fff; color: #2e2e2e }
.minicart-wrapper .action.showcart:hover .text { color: #2e2e2e }
/*header Search CSS*/
.block-search .block-content { margin-top: 0; }
.header .block-search {margin-top: 0 !important;}
.searchsuite-autocomplete{left: 0 !important;}
.view-all-products a.see-all {
    display: block;
    text-align: center;
    background: #f1f1f1;
    padding: 4px;
}
.header .block-search input {position: static !important; border: none;}
.header .block-search input:focus{box-shadow: none;}
.header .block-search .action.search:hover span {
    background: #fff !important;
    color: #000 !important;
}
    .header .block-search .action.search span,.header .block-search .action.search{pointer-events: auto !important; cursor: pointer;}

@media only screen and (min-width:768px) {
	.header.content{padding-top: 35px !important;}
	.header .block-search { max-width: 200px !important;margin-right: 6% !important; }
	.header .block-search input { height: 36px; padding-left: 35px; }
	.header .block-search .action.search { display: block !important; position: absolute !important; right: 0 !important; top: 1px !important; opacity: 1 !important; }
	.header .block-search .action.search:before { display: none !important; }
	.header .block-search .label:before{font-size: 16px;}
	.block-search .action.search > span { position: static !important; clip: unset !important; background: #000 !important; color: #fff !important; padding: 8px !important; display: inline-block; height: auto !important; width: auto !important; border: none !important; font-weight: bold;}
	.header .block-search label { clip: unset !important; height: auto !important; width: auto !important; overflow: unset !important; padding: 6px  6px  6px  9px !important; }
}
@media only screen and (min-width:910px) {
	.header .block-search{margin-right: 13% !important;max-width: 400px !important;}
}
/*Mobile CSS*/
@media only screen and (max-width:767px) {
    .navigation .submenu:not(:first-child).expanded { display: none !important; }
    .navigation .parent .level-top:after { top: 5px; }
    .nav-sections .level0 > .level-top { padding: 5px 11px !important; }
    .navigation a { padding-top: 5px; padding-bottom: 5px; }
    { width: 100%; }
    .nav-sections .level0.submenu > li > a { text-align: left; }
    .nav-sections-item-content { padding-top: 0; }
    .nav-open .nav-toggle:before { color: #fff; z-index: 2; position: relative; }
    .nav-open .nav-toggle:hover:before { color: #fff; }
}
.header.panel > .header.links > .authorization-link:after{display: none !important;}
/* Catagory page css*/
.category-view .page-main {
    padding: 0;
}
.category-cms .products-grid{
    display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}
@media only screen and (min-width:768px) {
.category-cms .products-grid .item {
    -ms-flex: 0 0 calc(33.3333333333% - 15px);
    flex: 0 0 calc(33.3333333333% - 15px);
    max-width: calc(33.3333333333% - 15px);
    margin-right: 15px;
  }
}
.category-cms .products-grid .item {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: solid 1px #4e4e4e;
    margin-bottom: 15px;
}

p.kategorie-image-caption {
    margin-bottom: 0;
}
p.kategorie-image-caption a {
    background: #3bacdf;
    color: #fff;
    display: block;
}

/*Category page sidber menu css*/
.cat-filter h3{
background: #3bacdf;
    padding: 11px 5px 10px 12px;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 0;
}
div#layered-filter-block, .account  .sidebar .block-collapsible-nav {
    margin-top: .0;
}
.sidebar .cat-filter .o-list li{
    margin-bottom: 6px;
    padding-bottom: 6px;position: relative;
}
.sidebar .cat-filter .o-list li .expand, .sidebar .cat-filter .o-list li .expanded{
    position: absolute;
    right: 0;
    font-size: 10px;
    top: 4px;
}
.sidebar .cat-filter > ul{
    background: #f4f4f4;
    padding: 10px;
}
.sidebar .cat-filter > ul li li{
    border-bottom: none;
    margin-bottom: 0 !important;
}
.sidebar .cat-filter > ul li li > a:before {
    content: ">";
    margin-right: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    float: left;
}
.sidebar .cat-filter > ul a{
    color: #4e4e4e;
    font-size: 12px;
}
.sidebar .cat-filter > ul li li a {
    padding-right: 10px;
}
.sidebar .cat-filter > ul > li > a {
    text-transform: uppercase;
}
.sidebar .cat-filter .level1 a{
    padding-left: 0 !important;
}
.sidebar .cat-filter .level2 a{
padding-left: 12px !important;
}
.sidebar .cat-filter .level3 a{
padding-left: 24px !important;
}
.sidebar .cat-filter .level4 a {
    padding-left: 36px !important;
}

/*sidebar filter content menu css*/
.sidebar  .fa-bars:before,.sidebar  .fa-filter:before{
margin-right: 6px;
}
.sidebar .filter > div > strong.filter-subtitle,.sidebar .filter > div > h3.filter-subtitle{
    background: #3bacdf;
    padding: 10px 5px 10px 12px;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.1 !important;
    font-size: 1.8rem;
}
.sidebar .filter-options .items .item{
    margin: 5px 0;
}
.sidebar .filter-options .items .item a{color: #4e4e4e;}
.sidebar .filter-options .items .item a:before {
    content: ">";
    margin-right: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    float: left;
}
.filter-options-content{padding: 0 10px;}
.filter-options-content a:hover {
    background-color: transparent;
    text-decoration: underline;
}


/*product details Page css*/
.box-tocart .fieldset div.qty {
    float: left;
}
.box-tocart .fieldset div.qty .qty {
    width: 50px;
    height: 39px;
    font-weight: bold;
    font-size: 16px;
}
}
.box-tocart .fieldset div.qty .label {
    text-transform: uppercase;
    margin-bottom: 5px;
}
.box-tocart .fieldset div.qty .button-up {
    display: inline;
    height: 20px;
    width: 20px;
    padding: 0;
    position: relative;
    top: 0;
    vertical-align: top;
    left: -4px;
}

.box-tocart .fieldset div.qty .button-down {
    display: inline;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    left: -27px;
}

.box-tocart .fieldset .tocart {
    height: 39px;
    background: #62B623;
    padding: 7px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: -12px;
}
.lease-main {
    border: solid 1px #FF8801;
    display: inline-block;
    font-size: 14px;
    padding-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.lease-main span {
    background: #FF8801;
    color: #fff;
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.product-info-main .page-title {
    font-size: 32px;
    text-transform: uppercase;
}
.product-info-main .product-info-stock-sku{
    padding-left: 0;
}
.box-tocart .fieldset div.qty div.mage-error {
    position: absolute;
    white-space: nowrap;
}

.product-info-manufacturer {
    margin-bottom: 15px;
}
.product-info-manufacturer .brands-data .brand-logo img {
    height: 52px;
    vertical-align: middle;
    margin-right: 15px;
}

.product-info-manufacturer .brands-data .brand-view-all-products a {
    color: #68AFCB;
}
.product-info-price{
    border-bottom: none !important;
}
.product-info-price .price-including-tax{
    display: block !important;
    margin-bottom: 0 !important;
}
.product-info-price .price-including-tax .price{
        font-size: 32px !important;
    color: #33AFE3;
}

.product-info-price .price-details a{
    color: #575757;
}
.product-info-price .price-details, .product-info-price .price-box {
    display: inline !important;
}
.product-info-main .product-info-price .price-box .price-excluding-tax-custom .price, .product-info-main .product-info-price .price-box .vat-txt{
	font-size: 14px;
}
.product-info-addonprices {
    margin-bottom: 15px;
}

.product-info-addonprices span.toneart-offered-price {
    display: none;
}

.product-info-addonprices p.saved-money-toneart {
    clear: both;
}   

.product-info-addonprices span.netto-price {
    float: left;
    font-size: 25px;
    margin-top: -5px;
    margin-right: 5px;
    font-weight: bold;
    position: relative;
}
.product-info-addonprices span.netto-price:after {
    background: #d20a11;
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 6px;
    transform-origin: 0 100%;
    transform: rotate(-8deg);
}

.box-tocart .fieldset .tocart .fa {
    margin-right: 8px;
}

.product-info-main .stock{
color: #629A37;
}
.product.delivery_time strong {
    color: #629A37;
    text-transform: uppercase;
}
.product.delivery_time .value {
    display: inline;
}

.product-info-paymentinfo .pos-payment-logos figure {
    display: block;
    margin-top: -20px !important;
    margin-left: -10px !important;
}
.product-info-paymentinfo .pos-payment-logos figure img {
    width: 75%;
}
.brand-slider li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.brand-slider img {
    width: auto !important;
    max-width: 200px;
    max-height: 120px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
    border: none;
}

.product-info-whatsapp div[data-element="inner"]{
    padding-left: 0 !important;
}

.product-info-whatsapp {
    clear: both;
}
.product-info-whatsapp .social-logo-links {display: flex;}
.product-info-whatsapp .social-logo-links a {
    margin-right: 15px;
    vertical-align: middle;
}

span.menu-whatsapp-logo img {
    height: 26px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.logo{
    margin:-20px auto 25px 0 !important;
}
.logo img{
    height: auto;
    width: auto;
}

.our-features-box {
    background: #f5f5f5;
}
.our-features-box ul {
    list-style: none;
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
}
@media (min-width: 768px){
	.our-features-box ul{
    display: flex;	
        margin-left: auto;
    margin-right: auto;
    max-width: 1280px;	
	}
	.our-features-box ul li {
    width: 25%;
  }
}
.our-features-box ul li.last{
    text-align: right;
}
.our-features-box ul li {
    margin: 0;
        padding: 10px 0;
    text-transform: uppercase;
}
.our-features-box ul li .feature-box > * {
    display: inline-block;
}

.our-features-box ul li .feature-box .fa {
    line-height: 1;
    font-size: 16px;
    vertical-align: text-top;
    margin-right: 5px;
}
.our-features-box ul li .feature-box .fa-star {
color:#FE7D4E
}

 .product-slider .product-item-info{
    height: 435px;
}
.product-item-info h3 {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
        display: inline-block;
    width: 80%;
}
.product-item-info .item-price {
    margin-bottom: 10px;
}
.product-item-info .price-compare-toneart {
    line-height: 20px;
    margin-bottom: 5px;
}
.product-item-info .saved-money-toneart {
    color: #3bacdf;
}
.product-item-info .price{font-weight: 400;}
.product-item-info .saved-money-toneart span{color: #ff0000;}
.product-item-info .netto-price{text-decoration:line-through}

/**Footer CSS*/
.page-footer .social .fb a:before {
    content: "\f09a";
    font-family: FontAwesome;
}

.page-footer .social .fb a {
    background: #3C5B9B;
    font-size: 18px;
    border-radius: 3px;
    line-height: 35px;
    display: inline-block!important;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.page-footer .social .fb a:hover {
    background: #3C5B9B !important;
}

.page-footer .social .tw a:before {
    content: "\f099";
    font-family: FontAwesome;
}

.page-footer .social .tw a {
    background: #359BED;
    font-size: 18px;
    border-radius: 3px;
    line-height: 35px;
    display: inline-block!important;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.page-footer .social .tw a:hover {
    background: #359BED !important;
}

.page-footer .social .googleplus a:before {
    content: "\f0d5";
    font-family: FontAwesome;
}

.page-footer .social .googleplus a {
    background: #E33729;
    font-size: 18px;
    border-radius: 3px;
    line-height: 35px;
    display: inline-block!important;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.page-footer .social .googleplus a:hover {
    background: #E33729!important;
}

.page-footer .social .rss a:before {
    content: "\f09e";
    font-family: FontAwesome;
}

.page-footer .social .rss a {
    content: "\f09e";
    font-family: FontAwesome;
    background: #FD9F13;
    font-size: 18px;
    border-radius: 3px;
    line-height: 35px;
    display: inline-block!important;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.page-footer .social .rss a:hover {
    background: #FD9F13 !important;
}

.page-footer .social .pintrest a:before {
    content: "\f0d3";
    font-family: FontAwesome;
}

.page-footer .social .pintrest a {
    content: "\f0d3";
    font-family: FontAwesome;
    background: #cb2027;
    font-size: 18px;
    border-radius: 3px;
    line-height: 35px;
    display: inline-block!important;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.page-footer .social .pintrest a:hover {
    background: #cb2027 !important;
}

.page-footer .social .linkedin a:before {
    content: "\f0e1";
    font-family: FontAwesome;
}

.page-footer .social .linkedin a {
    content: "\f0e1";
    font-family: FontAwesome;
    background: #027ba5;
    font-size: 18px;
    border-radius: 3px;
    line-height: 35px;
    display: inline-block!important;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.page-footer .social .linkedin a:hover {
    background: #027ba5 !important;
}

.page-footer .social .youtube a:before {
    content: "\f167";
    font-family: FontAwesome;
}

.page-footer .social .youtube a {
    background: #F03434;
    font-size: 18px;
    border-radius: 3px;
    line-height: 35px;
    display: inline-block!important;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.page-footer .social .youtube a:hover {
    background: #F03434 !important;
}

.page-footer .social {
    float: right;
}

.page-footer .social h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.page-footer .social ul {
    margin: 0;
    list-style: none;
}

.page-footer .social ul li {
    display: inline-block;
    margin-right: 7px;
}

.page-footer .social a {
    transition: background 400ms ease-in-out;
    -webkit-transition: background 400ms ease-in-out;
    -moz-transition: background 400ms ease-in-out;
    -o-transition: background 400ms ease-in-out;
}

.page-footer .social .instagram a {
    background: #d93175;
    font-size: 18px;
    border-radius: 3px;
    line-height: 35px;
    display: inline-block !important;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
}

.page-footer .social .instagram a::before {
    content: "\f16d ";
    font-family: FontAwesome;
}

@media (min-width: 768px){
	.homepage-content-slider-mobile{display: none !important;}
}
@media (max-width: 767px){
	.homepage-content-slider-desktop{display: none !important;}
}

#shopping-cart-table thead tr {
    background: #f5f5f5;
}
#shopping-cart-table .field.qty {
    display: flex;
}
#shopping-cart-table .field.qty .qty-update-span {
    padding-right: 5px;
}
#shopping-cart-table .field.qty .qty-update-span img {
    width: 22px;
      margin-top: 6px;
    margin-right: 2px;
    min-width: 22px;
}
#shopping-cart-table .item-actions a:before{color:#3bacdf;}

p.vat_info {
    font-size: 11px;
}
.cart-container .actions button.action, #gift-options-cart .action-update, #gift-options-cart .action-cancel{
    background-image: none;
    background: #3bacdf;
    border: #3bacdf;
    color: #ffffff;
    padding:15px 32px;
        min-width: 230px;
}
.cart-discount .action.check {
    padding-left: 15px;
    padding-right: 15px;
}
.cart-container .actions button.action {
    margin-left: 20px;
}
 #gift-options-cart .action-update{padding: 7px 15px; min-width:120px;}
#gift-options-cart .action-cancel{background: #3bacdf;padding: 7px 15px;margin-top: 0;line-height: 16px;
    color: #fff; text-decoration: none; min-width: 120px;}
.actions button.action:hover,#gift-options-cart .action-update:hover, #gift-options-cart .action-cancel:hover{
	background: #006bb4;
    color: #ffffff;
}

.methods-shipping .actions-toolbar .action{
    padding: 7px 15px !important;
    font-size: 16px !important;
    height: auto;
  }
#block-discount .actions-toolbar button.action,
#block-giftcard .actions-toolbar button.action {background: #3bacdf;
    color: #fff;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: none; border-radius: 0; min-width: 215px;}
   #block-discount .actions-toolbar button.action:hover,
#block-giftcard .actions-toolbar button.action:hover {
        background: #006bb4;
    }

/*footer css*/
.page-footer .footer.content > div:first-of-type{
	    background-color: #013E75;
}
.page-footer .footer.content > div:first-of-type .pagebuilder-column{padding: 0 !important;}
.page-footer .footer.content > div:first-of-type .pagebuilder-column:first-of-type figure{
	text-align: left !important;
	margin-top: 18px !important;
}
.page-footer .footer.content > div:first-of-type figure {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.page-footer .footer.content > div:first-of-type .pagebuilder-column:nth-of-type(2) figure{
	padding: 0 !important;
} 
.page-footer .footer.content > div:first-of-type .pagebuilder-column:nth-of-type(2) figure img {
    max-width: 100px !important;
}

.page-footer .footer.content > div:first-of-type .social{
  margin-top: 35px;
}
@media (min-width: 768px){
	.pagebuilder-mobile-only {
	    display: none !important;
	}
}


.page-footer .footer.content > div:nth-of-type(2){
  background-color: #000;
}
.page-footer .footer.content > div:nth-of-type(2) .pagebuilder-column{padding: 0 !important}
.page-footer .footer.content > div:nth-of-type(2) h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}
.page-footer .footer.content > div:nth-of-type(2) h2 span {
    color: #3bacdf !important;
}
.page-footer .footer.content > div:nth-of-type(2) .pagebuilder-column:not(:last-of-type) p{
	font-size: 15px;
	margin-bottom: 8px;
}
.page-footer .footer.content > div:nth-of-type(2) .pagebuilder-column:not(:last-of-type) p:before{
	content: '>';
	color: #fff;
	margin-right: 4px;
	line-height: 1;
 }
.page-footer .footer.content > div:nth-of-type(2) .pagebuilder-column:last-of-type p:last-of-type img{
display: none;
}
.page-footer .footer.content > div:nth-of-type(2) .pagebuilder-column:last-of-type p:last-of-type a{
	color: #fff;
	text-decoration: none;
}
.page-footer .footer.content > div:nth-of-type(2) .pagebuilder-column:last-of-type p:first-of-type img {
    float: left;
    margin-right: 15px;
}



.page-footer .footer.content > div:nth-of-type(3){
	    background-color: #003D74;
}

.page-footer .footer.content > div:nth-of-type(3) .block1.last img {
    max-width: calc(25% - 10px);
    margin: 0 10px 0 0 !important;
    height: auto;
    vertical-align: middle;
}
.page-footer .footer.content > div:nth-of-type(3) .block1.last img {
   margin-top: 0 !important;
}
@media (min-width: 768px){
	.page-footer .footer.content > div:nth-of-type(3) .block1.last {
	   text-align: right;
	}
	.page-footer .footer.content > div:nth-of-type(3) .pagebuilder-column:nth-of-type(2) figure{
		margin-top:10px !important;
	}
}
.owl-theme .owl-controls{
	padding-left: 0;
}


.catalog-product-view .upsell .title{
	margin-bottom: 0;
}


.catalog-product-view .owl-theme.product-item-wrap .product-item-info .actions button.action {
    position: absolute;
    bottom: 0;
    left:auto;
    transform: translateX(-50%);
}
 .catalog-product-view .owl-theme.product-item-wrap .product-item-info{
height: 450px;
}

.product.data.items > .item.title.active > .switch{
	    background: #000 !important;
    color: #fff !important;
}

.product.info.detailed{
	margin-top: 30px;
}
.product.data.items > .item.content .std .button:hover {
    color: #fff;
}
.product.data.items > .item.content .std .button {
    width: auto;
    height: auto;
    border: none;
    margin-top: 0;
}
.accordion .fieldset:After {
    content: '';
    display: block;
    clear: both;
}

.accordion .accordion-head{
	background: #f4f4f4 !important;
	margin-bottom: 0;
	border-color:#000 !important;
	padding: 0 !important;
}
.accordion .accordion-head.open{
	border: none !important;
}

.accordion .accordion-head .lease-steps{
background: #000;
    color: #fff;
    padding: 10px 15px;
    float: left;
        font-weight: 500;
}
.accordion .accordion-head h2{
    font-size: 20px;
    color: #f18819;
    float: left;
    margin: 0;
    padding: 9px 6px;
    text-transform: uppercase;
}
.accordion .accordion-head .arrow-down{
float: right;
    font-size: 33px;
    margin-right: 15px;
    color: #000;
}
.accordion .accordion-head.open .arrow-down{ display: none; }
.accordion .accordion-body{
	border: solid 1px #000;
	padding: 15px;
	clear: both;
	margin-bottom: 0;
}

.accordion ul{
	padding-left: 0;
}
.accordion li{list-style: none;}

.accordion .button {
    width: auto;
    color: #fff;
    padding: 15px 25px;
    background-color: #f18819 !important;
    border: none;
}

.accordion .button:hover {
    background-color: #000 !important;
}
.accordion label {
    font-weight: 500;
    font-size: 14px;
        margin-bottom: 5px;
    display: block;
}
.accordion label em{
	color:#f18819;
	margin-right: 1px;
}
.accordion input:focus, .accordion textarea:focus, .accordion select:focus{
	box-shadow: none;
	border-color: #3bacdf;
}
.accordion .fields{
	display: flex;
}
.accordion .field-error, div.mage-error[generated]{margin-top: 6px;}
.accordion .field {
    margin-bottom: 20px;
        width: calc(50% - 10px);
    margin: 0 10px;
}

.accordion .field input[type="checkbox"] {
    position: relative;
}
.accordion #product-leasing-table{
	margin-bottom: 30px;
}
.accordion #product-leasing-table tr{
	border-bottom: solid 1px #CACACA;
}
.accordion #product-leasing-table thead tr{
	background: none;
}
.accordion #product-leasing-table td, .accordion #product-leasing-table th {
    font-size: 14px;
}
.accordion #product-leasing-table td span {
    color: inherit;
    font-weight: normal;
}
.accordion #product-leasing-table thead tr th:first-child {
    border-right: none;
}


div#fieldset_507 {
    margin-bottom: 30px !important;
}


.opc-progress-bar{margin-top: 30px !important;}
.opc-progress-bar-item._active > span:before,.opc-progress-bar-item._active:before{background: #3bacdf !important;border-color: #3bacdf !important;}
.opc-progress-bar-item._active > span:after{border-color:#3bacdf !important;}


.opc-block-shipping-information .shipping-information-title{
	background: #3bacdf;
    color: #fff;
    padding: 10px 20px;
}

.opc-block-shipping-information .shipping-information-title button.action-edit:before {
    color: #fff;
    margin-right: 16px;
    margin-top: 7px;
}
.opc-block-summary {
    background: none;
    margin: 0 0 20px;
    padding: 22px 30px;
    border: solid 1px #cccccc;
}

/*#checkout .opc-summary-wrapper .opc-block-summary ol.minicart-items li:first-child th{background: #f5f5f5; padding-left: 10px;}*/
.opc-block-summary .items-in-cart > .title:after{right:10px;}
.opc-block-summary, #checkout .opc-summary-wrapper .actions-toolbar-trigger{background: none !important; border: none !important;}

#opc-sidebar{
	border: solid 1px #cccccc;
}
#opc-sidebar .actions-toolbar-trigger .action {
    padding: 12px 35px;
    height: auto;
    width: auto;
}



.breadcrumbs{
	background: #f4f4f4;
	max-width: unset !important;
	padding: 0;
	margin: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 30px
}

.breadcrumbs ul.items{
	margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
}
.breadcrumbs ul.items .item a {
    color: #000;
}




@media (min-width: 768px) {
	.page-layout-2columns-left .sidebar-additional, .page-layout-2columns-left .sidebar-main {
	    width: 25.4% !important;
	    padding-right: 1.56%;
	}
	.page-layout-2columns-left .column.main{
		width: 74.6% !important;
	}
}
.checkout-cart-index  .nav-sections,
.checkout-onepage-success .nav-sections,
.customer-account-login .nav-sections{margin-bottom: 30px !important;}



.cart-summary .checkout-methods-items{margin-bottom: 10px;}
.checkout-cart-index .cart-summary .separator {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}


.products-grid .product-item-info:hover, .products .product-item-info:hover{margin: 0 15px !important;}


#shipping-zip-form p.note{font-size: inherit;}

.action.primary:hover,a.pagebuilder-button-primary:hover, button.pagebuilder-button-primary:hover, div.pagebuilder-button-primary:hover{border: inherit;}
.checkout-index-index .nav-sections{display: block;}
@media (max-width: 767px){
    .checkout-index-index .nav-toggle{display: block;}
}


a.pagebuilder-button-primary, button.pagebuilder-button-primary, div.pagebuilder-button-primary{border-radius: 0;}
#checkout .opc-summary-wrapper .opc-block-summary ol.minicart-items li .product-item-inner .qty-wrapper .button-action{width: 20px !important;
    height: 15px !important;
    right: 9px !important;}

.opc-block-summary .minicart-items-wrapper{overflow: visible; max-height: unset;}





















/*responsive*/
@media only screen and (max-width: 767px){
	.page-products .columns{padding-top: 20px;}
	.toneart-footer-bottom{text-align: center;}
	.page-footer .footer.content .pagebuilder-column {
		padding: 0 !important;
	}
	.page-footer .footer.content > div:first-of-type .pagebuilder-column:first-of-type figure {
		text-align: center !important;
		margin-top: 0 !important;
	}
	.page-footer .footer.content > div:first-of-type .pagebuilder-column:nth-of-type(2) {
    	display: none !important;
	}
	.page-footer .footer.content > div:first-of-type .social {
	    margin-top: 15px;
	    float: none;
	    text-align: center;
	}

    .logo{
    	margin-bottom: 5px !important;
    	margin-top: -10px !important;
    	max-width: none;
        height: 45px;
    }
    .minicart-wrapper .action.showcart .text{
    	display: none;
    }
    .minicart-wrapper{
    	top: 0 !important;
    	margin-top: 0;
    }

    .minicart-wrapper .action.showcart{
    	padding: 2px 7px;
    }
    .block-search .block-content form{margin-bottom: 0;}
    .block-search .label{position: absolute; right: -3px;
        top: 4px;}
        .header .block-search input{/*border-color: #fff;*/ 
            background: #fff !important;
        width: calc(100% - 30px);
        float: right;
        border-radius: 3px;
        border: none;
        height: 28px;
         width:calc(100% - 30px); float:right;}
    .header .block-search input:focus{text-shadow: none; }
    .block-search .label:before{/*color: #fff;*/ font-size: 18px;}
    .block-search .control{background: #5e5e5e;padding: 5px 15px; width: 100%; float: left;}

    .block-search input::placeholder { 
      /*color: #fff;*/
      opacity: 1; 
      font-size: 12px;
    }

    .block-search input:-ms-input-placeholder { 
      /*color: #fff;*/
      font-size: 12px;
    }

    .block-search input::-ms-input-placeholder { 
      /*color: #fff;*/
      font-size: 12px;
    }
    .nav-toggle{
    	 left: 8px;
        top: 50px;
    }
    .nav-toggle:before, .nav-toggle:hover:before{
    	color: #fff;
    }
}
