.checkout-agreements .checkout-agreement input[type="checkbox"] + label.label {
    padding-left: 32px;
}
.checkout-agreements .checkout-agreement .label .action {
   color: #333;
   cursor: default;
}
.checkout-agreements .checkout-agreement .label .action a{
    color: #006bb4;
}
.checkout-agreements .checkout-agreement .label .action:hover{
    text-decoration: none;
}
.opc-summary-wrapper{display:none;}
aside.opc-summary-wrapper{width:100%;}
.payment-method-content .actions-toolbar{
    display: none;
}
.checkout-agreements-block.mp-12, .opc-order-comment-custom {
    display: none;
}
/*
    Main menu not visible on checkout page
	https://trello.com/c/ewow61nk/80-checkout-default-magento-standard-second-step 01/05/2020 PV
*/
.checkout-index-index .nav-sections{
	display: block !important;
}
#place-order-trigger-wrapper{
	float:right;
}
